#centerForth {
  background-color: white;
  border-radius: 10px;
  padding: 55px 40px;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgb(216, 214, 214);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.158);
  flex: 1;
}
#centerForthContainer{
position: relative;
}
#qoutes {
  position: absolute;
  max-height: 70px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 2;
}
#containerForth {
  background-image: linear-gradient(#ffffff, #ecf0fd, #ffffff);
  min-height: 90vh;
  position: relative;
  /* margin-top: 80px; */
  display: flex;
  align-items: center;
}

#centerForthP {
  text-align: center;
  color: #94a2b3;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5rem;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
#red {
  position: absolute;
  top: 40%;
  right: 28%;
  width: 23%;
}
#green {
  position: absolute;
  top: 60%;
  left: 28%;
  width: 25%;
}
#redImg {
  width: 100%;
}
#greenImg {
  width: 100%;
}
#ForthP {
  color: #272d4e;
  font-weight: 700;
  font-size: 40px;
  width: 457px;
  text-align: center;
  margin: 80px auto 0px auto;
}
#iconsForth {
  position: absolute;
  right: 5%;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.iconForth {
  margin-right: 10px;
  cursor: pointer;
}
@keyframes next {
  0%{
position: relative;
left: 0%;
  }
  50%{
    position: relative;
    left: 10%;
  }
  100%{
    position: relative;
    left: 0%;
  }
}
@-o-keyframes next {
  0%{
position: relative;
left: 0%;
  }
  50%{
    position: relative;
    left: 10%;
  }
  100%{
    position: relative;
    left: 0%;
  }
}
@-moz-keyframes next {
  0%{
position: relative;
left: 0%;
  }
  50%{
    position: relative;
    left: 10%;
  }
  100%{
    position: relative;
    left: 0%;
  }
}
@-webkit-keyframes next {
  0%{
position: relative;
left: 0%;
  }
  50%{
    position: relative;
    left: 10%;
  }
  100%{
    position: relative;
    left: 0%;
  }
}
#next {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
#next:hover {
  /* animation: next .7s infinite; */
  -webkit-animation-name: next;
-webkit-animation-duration: .7s;
-webkit-animation-iteration-count: infinite;
}
#next:active {
  /* animation: next .7s infinite; */
  -webkit-animation-name: next;
-webkit-animation-duration: .7s;
-webkit-animation-iteration-count: infinite;
}

#back{
  color: grey;
}
#back:hover{
  color: rgb(0, 0, 0);
}
.pic {
  max-width: 100%;
}
.flex {
  display: flex;
}
#firstPic {
  margin: 0px 0px 0px 18px;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.199));
}
#secondPic {
  margin: 0px 15px 0px 0px;
  justify-content: flex-end;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.199));
}
#thirdPic {
  justify-content: flex-end;
  margin: 0px 20px 0px 0px;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.199));
  z-index: 100;
  position: relative;
}
#fifthPic {
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.199));
  z-index: 100;
  position: relative;
}
#forthPic {
  justify-content: flex-end;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.199));
}
#sixthPic {
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.199));
}
#firstPics {
  height: 100%;
  flex: 1;
}
#secondPics {
  height: 100%;
  flex: 1;
}
@media screen and (max-width: 805px) {
  #centerForth {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    padding: 40px 40px;
  }
  #secondPic {
    margin: 170px 0px 0px 0px;
  }
  #thirdPic {
    margin: 170px 0px 0px 0px;
  }
  #fifthPic {
    margin: 0px 0px 180px 0px;
  }
  #sixthPic {
    margin: 0px 0px 180px 0px;
  }
  #firstPics {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0px;
    height: 60%;
  }
  #secondPics {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0px;
  }
  #ForthP {
    font-size: 32px;
    width: 340px;
  }
  #containerForth {
    flex-direction: column;
  }
}

